<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <title> Thư viện sách </title>
</head>
<nav>
  <div class="nav-wrapper  light-blue">
    <a href="#" class="brand-logo center"> <i class="material-icons">desktop_mac</i> Danh sách các loại sách </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#"><i class="material-icons left">person_outline</i> Ngọc Tuấn </a></li>
      <li><a href="#"><i class="material-icons left">input</i> Thoát </a></li>
    </ul>
  </div>
</nav>
<body>
  <div class="container">
    <div class="row">
      <table class="highlight">
        <thead>
          <tr>
              <th>Tên sách</th>
              <th>Tác giả</th>
              <th>Nhà xuất bản</th>
              <th>Số lượng</th>
              <th>Mã sách</th>
              <th>Trạng thái</th>
              <th>Thực hiện</th>
          </tr>
        </thead>

        <tbody>
          {% for book in listBook %}
            <tr>
              <td>{{ book.name }}</td>
              <td>{{ book.author }}</td>
              <td>{{ book.printer }}</td>
              <td>{{ book.number }}</td>
              <td>{{ book.nts }}</td>
              {% if book.sv == false %}
                <td>Chưa mượn</td>
                <td><a data-id="{{ book.id }}" class="waves-effect waves-light btn btn-muon-sach">Mượn sách</a></td>
              {% else %}
                <td>Đang mượn</td>
                <td><a data-id="{{ book.id }}" class="waves-effect waves-light btn red" onClick="give_back(this.id);">Trả sách</a></td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script>
  (function (cbFb) {
    cbFb(window.jQuery)
  })(function ($) {
    $(pageLoadReaddy)

    function pageLoadReaddy() {
      var $btnMuonSach = $('.btn-muon-sach')

      $btnMuonSach.on('click', function (event) {
        event.preventDefault()
        var btnMuon = $(event.currentTarget)
        var idBook = btnMuon.data('id')
        console.log(idBook)
        $.ajax({
          url: `/api/v1/edit/${idBook}`,
          type: 'POST'
        })
        .done(function (data) {
          window.location.reload(true)
        })
      })
    }
  })
</script>
</html>
